* {-webkit-font-smoothing: antialiased;}			/* Potential chrome fix, with styling */

body {
	margin:0;
	font-family: Verdana;
	font-size: 1.5rem;
	background-color:#708090;
	color:#FFFAFA;
	
	display : grid;
	
	
	grid :
			"header header header header" auto 				/*Using a grid layout for advanced positioning, for rows and columns*/
			"...... lists active ......" auto /			
			1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;			

}

h2{	/*Title Customization*/
		color:#00FFFF;
		font-size: 2.5rem;
}





/*Start of Button Customization*/
.btn{
	cursor : pointer;
	background:0;
	border:0;
	padding:0;
	color:inherit;
}

.btn.List {
	font-size: 1.3rem;			/*Slightly bigger than the text in the list area, allows for a more of a visual pop*/
	font-weight:bold;
	margin-left:0.2rem;
}

.btn.Task {
	font-size:1.6rem;
	font-weight:bold;
	margin-left:0.2rem;
	color:#00FFFF;
}

.btn.List:hover {
	opacity:0.25;
	transition:opacity 200ms ease-in-out;		/*Added for visual appeal*/
}
.btn.Task:hover {
	opacity:0.25;
	transition:opacity 200ms ease-in-out;
}

/*Buttons under List Controller*/
.contrList{
	display:flex;
	justify-content:space-evenly;	/*distributes space between items evenly*/
	margin: 0 0 25px -80px;
	left:0;
}
.btn.delList{
	font-weight:700;
}
.btn.delList:hover{
	opacity:0.5;
	transition:opacity 200ms ease-in-out;
}

.btn.edtList{
	font-weight:700;
}
.btn.edtList:hover{
	opacity:0.5;
	transition:opacity 200ms ease-in-out;
}

/*Buttons under Task controller*/
.contrTask{
	display:flex;
	justify-content:space-evenly;	/*distributes space between items evenly*/
	margin: 0 0 25px -20px;
	left:0;
}

.btn.delTask{
	font-weight:700;
}
.btn.delTask:hover{
	opacity:0.5;
	transition:opacity 200ms ease-in-out;
}

.btn.edtTask{
	font-weight:700;
}
.btn.edtTask:hover{
	opacity:0.5;
	transition:opacity 200ms ease-in-out;
}

.btn.sortTask{
	font-weight:700;
}
.btn.sortTask:hover{
	opacity:0.5;
	transition:opacity 200ms ease-in-out;
}

/*End of Button Customization*/





/*Placeholder for form customization */
::placeholder {				/*made more visible without focus*/
	color:#2F4F4F;
	opacity:1;
	transition:opacity 250ms ease-in-out;		/*Created for visual easing*/
}
.newList:focus::placeholder{		/*when focused, text made lighter */
	opacity:0.25;		
}
.newTask:focus::placeholder{		/*when focused, text made lighter */
	opacity:0.25;
}
/*end of placeholder customization*/




/*Start of title Customization*/
.title{
	grid-area: header;
	text-align:center;
	font-size: calc(5vw + 2rem);		/* Ensures appropraite sizing with bigger and smaller screens. */
	font-weight: bold;
	color:#FFFAFA;
}

.title span{
	
	color:#00FFFF;
}
/*End of Title Customization*/




/*Start of List Customization*/
.list_title{
	margin:0;
	padding:2rem;
}

.all_lists{
	grid-area: lists;
	margin-left: 0;

}

.tList{
	line-height:1.5;
	padding: 2rem;
	font-size: 1.25rem;
	list-style:circle;
}

.newList {
	background: transparent;
	border: 0;
	font-size: 1.2rem;
	color:#FFFAFA;
	border-bottom : 1px solid currentColor;
	transition:border-bottom 300ms ease-in;
	padding:0.1em;
	
}

.activeList{
	letter-spacing:0.8px;
	font-weight:bold;
}
.list_name{
	cursor:pointer;
	
}
.list_name:hover{
	opacity:0.25;
	transition:opacity 150ms ease-in-out;
}

/*End of List Customization*/





/*Start of Task Customization*/
.todo_header{
	background-color:#A9A9A9;
	display:flex;
	align-items: center;
	justify-content:space-bewteen;		/*Defines how browser distributes space between and around content*/
	
}
.todo_title{
	margin:0;
	color:#FFFAFA;
	padding:2rem;
}
.current_list{
	margin:0 10px 0 0;
	font-size:1rem;
}

.todo_tasks{
	grid-area: active;
	margin-left: 4em;
	background-color:#FFFAFA;
	color:#2F4F4F;
}

.todo_body{
	line-height:1.5;
	padding: 1rem;
	font-size: 1.55rem;
	position:relative;
	
}
[type="checkbox"]{		/*  Selects all checkboxes within the application */
	opacity:0;		/*use this to hide*/
	position:absolute;
}

[type="checkbox"]:checked +label .cusCheckbox{		/*Checks to see whether the checkbox and label is clicked*/
	background:#00FFFF;	/*Fills the custom checbox with this color, i think this works really well and looks really good.*/
}
[type="checkbox"]:checked +label{ /*changes the label of the custom checkbox*/
	opacity:0.5;
}


.cusCheckbox {		/*Creating the custom checkbox*/
	display:inline-block;
	width:0.75em;
	height:0.75em;
	cursor:pointer;
	border: 2px solid currentColor;
	border-radius: 50%;
	margin:0 0.75em 0 0;
	transform:scale(1);
	transition: transform 150ms ease-in-out;
}

.tasks label {
	display:inline-flex;
	align-items:center;
	margin:0 0 1.35em 0;
	position:relative;
	cursor:pointer;
	
}



.tasks{
	position:relative;
}

.tasks:hover .cusCheckbox{
	transform:scale(1.2);		/*Creates visual presentation that every task is clickable.*/
	color:#00FFFF;
	transition:color 200ms ease-in;
}


.newTask {
	background: transparent;
	border: 0;
	color:#00FFFF;
	border-bottom : 1px solid currentColor;
	transition:border-bottom 300ms ease-in;
	font-size: 1.5rem;
	margin:-2em 0 0 2em;
	padding:0.1em;

}
.newTask::placeholder {
	color:#D3D3D3;
	
}

.tasks label::after{
	content:"";
	position:absolute;
	right:0;
	left:1.5em;
	height:3px;
	background:currentColor;
	top:50%;
	transform:scale(0);
	transition:transform 200ms ease-in-out;
}

[type="checkbox"]:checked +label::after{ /*changes the label of the custom checkbox*/
	transform:scale(1);

}

/*End of Task Customization*/